#hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin:0 auto;
    padding: 20px;
    position: relative;
}
#hero-section{
    position: sticky;
    width:200%;
    top:0;
    z-index:1000;
    background-color:white;
}
.hero-image{
    width: auto;
    height: 50px;
}
.navigate{
    display: flex;
    gap: 30px;
}
nav a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100px;
}

.second-image{
    height: 102vh;
}
.first-box {
    border-width: 2px;
    border: 2px solid rgb(83, 83, 182);
    position: absolute;
    z-index: 10;
    max-width: 500px;
    padding: 40px;
    margin-left: 355px;
    margin-top:50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
    background: transparent;
}
.first-box h3{
    color:white;
}
.inbox-text{
    color: white;
    font-size:55px;
    margin: -10px -10px;
}
.inner-buttons{
    gap: 120px;
} 
.inside-button{
    border-radius: 23px;
    background-color: rgb(235, 235, 52);
    color: blue;
    height: 10dvh;
    width: 34dvh;
    text-align: center;
}
.sec-inside-button {
    border-radius: 23px;
    background: transparent;
    color: yellow;
    height: 10dvh;
    width: 34dvh;
    text-align: center;
    border: 1px solid rgb(235, 235, 52);
    font-size: 20px;
}
.third-image {
    height: 55vh;
    position: absolute;
    z-index: 1;
    object-fit:cover;
    left:0;
    top: 0;
    width: 28%;
}
.to-go-top{
    position: absolute;
    z-index: 2;
    padding: 55px;
    font-size: 50px;
    margin: -20px;
    font-family:'Lucida Sans Unicode', Verdana, sans-serif;
    left: 60px;
    top: 40px;
    margin:0;
    padding:0;
    line-height:1.2;
}
.second-image{
    display: flex;
    gap:0;
}
.third-section{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap-reverse;
    max-width: 1200px;
    margin: 0 -1px;
    min-height: 55vh;
}
.third-text{
    width: 50%;
    padding: 10px 120px;
    display: flex;
    flex-direction: column;
    justify-content: column;
    z-index:2;
    font-family:Cambria, Georgia, Times, 'Times New Roman', serif;
}
/* This works the same as the above .second-image stylings 
.second-image{
    display: block;
    margin: 0;
    padding: 0;
} */
.second-image, .third-text {
    display: flex;
    justify-content:flex-end;
} 
.third-text h3{
    font-size: 18px;
    padding: 10px 40px;
    line-height:1.7;
    text-align: justify;
}
.third-text a{
    color: #0047ab;
    text-decoration: underline;
    font-weight: 500;
    font-size: 20px;
}
.fourth-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.megademics{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.sub-mega{
    text-align:center;
    align-items:stretch;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    height: 140px;
    margin: auto 40px;
    padding-left: 170px;
    padding-right:170px;
}
.statistics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url('images/equations\ statistics\ section.png')
}
.first-stat {
    border-width: 2px;
    height: 300px;
    width: 400px;
}
/* .first-stat h2{
    padding: 50px;
    text-align: center;
} */
.first-stat p{
    margin: -40px;
    padding-left: 90px;
    font-family:'Segoe UI', 'Franklin Gothic Medium',Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-weight: 500;
}
.second-stat{
    border-width: 2px;
    height: 300px;
    width: 400px;
}
/* .second-stat h2{
    padding: 50px;
    text-align: center;
} */
.second-stat p{
    margin: -40px;
    padding-left: 10px;
    font-family:'Segoe UI', 'Franklin Gothic Medium',Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display:block;
    color: whitesmoke;
    font-weight: 500;
}
.third-stat{
    border-width: 2px;
    height: 300px;
    width: 400px;
}
/* .third-stat h2{
    padding: 50px;
    text-align: center;
} */
.third-stat p{
    margin: -40px;
    padding-left: 20px;
    font-family:'Segoe UI', 'Franklin Gothic Medium',Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: whitesmoke;
    font-weight: 500;
}
.third-stat h2, .second-stat h2, .first-stat h2{
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    padding: 50px;
    margin-top: 8px;
    text-align: center;
    color: rgba(12, 3, 54, 0.966);
}
.grouped-buttons{
    width: 35%;
    gap:20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: 70vh;
    padding-right: 100px;
}
.firGrBut:hover,
 .secGrBut:hover{
    background-color: darkblue;
    color: white;
}
.fourth-section{
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1070px;
    margin: 0 auto;
    padding: 40px 20px;
}
.firGrBut, .secGrBut{
    text-align:center;
    padding-right:20px;
    font-size: 20px;
    border: none;
    height:7vh;
}
.history-made{
    padding: 40px;
    background-color: darkblue;
    width: 40%;
    font-size: 20px;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mission-accomp{
    width: 40%;
    background-color: white;
    color: black;
    padding: 40px;
    font-size: 20px;
    border: 1px solid white;
    height: 58vh;
    font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mission-accomp:hover {
    background-color: darkblue;
    cursor: pointer;
    color: whitesmoke;
}
.timer-icon, .hand-heart{
    margin-bottom: 15px;
    display: block;
}
.timer-icon {
    width: 30px;
}
.seventh-column{
    display: flex;
    justify-content: center;
    gap:0;
    margin-bottom:90px;
    height:104vh;
}
.bachelor-column{
    background-color:rgb(57, 146, 57);
    color: white;
    font-size:18px;
    padding:20px;
    font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.masters-column{
    background-color:rgb(233, 185, 27);
    color: black;
    padding:20px;
    font-size:18px;
    font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.professional-column{
    background-color:rgb(43, 43, 218);
    color: white;
    padding:20px;
    font-size:18px;
    font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.professional-column, .masters-column, .bachelor-column a{
    color: white;
    text-decoration: none;
    text-align: left;
}
.sports{
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.sports-pic{
    width:520px;
    height:690px;
    padding-right: 260px;
    border-radius: 20px;
}
.sports-content{
    width: 900%;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 20px;
    margin-left: -160px;
    padding-right: 40px;
}
.sports-content h2{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.kepler-button{
    height: 10vh;
    width: 270px;
    font-size: 20px;
    color: white;
    background-color: darkblue;
    border:none;
}
